@model IEnumerable<BudgetBuilder.Models.BuildingModels>

@{
    ViewBag.Title = "Index";
    double? totalCost;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            Total Trade Cost
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingProfit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
        // Store the sum of each Model's TradeCost
        totalCost = item.Trade.Sum(e => e.TradeCost);
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.ActionLink(item.Title, "Index", "TradeModels", new { id = item.BuildingModelsID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Budget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => totalCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingProfit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildingModelsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildingModelsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildingModelsID })
        </td>
    </tr>
}

</table>
