@model IEnumerable<BudgetBuilder.Models.TradeModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaborCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Building.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaborCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeBudget)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TradeModelsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TradeModelsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TradeModelsID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "BuildingModels")
</div>